@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}


.taskCard-Column>div span {
    text-align: left;
    /* color: black; */
    padding: 0px 10px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 100px;
}
.bottom-bar-card-list {
    padding: 17px 0px 4px;
    box-shadow: 0px -12px 13px -7px #00000014;
}
.taskCardDetails {
    display: flex;
    gap: 11px;
    margin: 0px 0px;
    padding: 4px 7px;
}
.taskCard-Column>div h3 {
    margin: 0px;
    padding: 0px 8px;
    color: black;
    padding: 0px 0px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
    height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-status-info {
    display: inline-block;
    width: auto;
    padding: 4px 14px !important;
    background: #80808029;
    font-size: 14px !important;
}
.column-display-holder>div:nth-child(1) {
    background: #e3f4ff;
}

.column-display-holder>div:nth-child(2) {
    background: #fff1f1;
}

.column-display-holder>div:nth-child(3) {
    background: #efffef;
}
.column-display-holder>div {
    text-align: left;
    padding: 16px 20px 21px 20px;
}
.taskCard-Column>div p {
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
    font-size: 15px;
}
button.add-btn {
    margin-top: 30px;
}
.column-display-holder h2 {
    font-size: 18px;
    padding-left: 22px;
}
.priority-text {
    background: #49ace5;
    color: white !important;
    padding: 1px 13px !important;
    text-transform: capitalize;
    font-size: 13px !important;
    letter-spacing: 1px;
}
.task-card-info:hover {
    transform: scale(1.02);
    transition: 0.2s all ease-in;
}
.task-card-info {
        transition: 0.2s all ease-in;
    box-shadow: 0px 5px 14px 0px #00000021;
}

.column-title {
    position: relative;
}

.column-title:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 100px;
    left: 4px;
    top: 13px;
}
.bottomBar-editdelete {
    display: flex;
    gap: 17px;
}
.bottomBar-editdelete img {
    height: 20px;
    width: 20px;
    padding: 1px;
}
.bottomBar-editdelete img:hover {
    filter: brightness(1) invert(1);
}
input:hover, textarea:hover, select:hover {
    border: 1px solid #930c0c;
    transition: 0.2s all ease-in;
    box-shadow: 0px 0px 20px 0px #00000038;
}

input, textarea, select {
    transition: 0.2s all ease-in;
    box-shadow: 0px 5px 20px 0px #00000014;
}

/* Media Query */
@media (max-width: 767px) {
    .column-display-holder {
    flex-direction: column;
}
form {
    flex-direction: column !important;
    gap: 5px !important;
}
.taskCard-Column>div p {
    height: 43px !important;
}
.form-row {
    width: 100%;
}
}